<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.wisent.stado.release-agent</string>
  <key>UserName</key>
  <string>__RUN_AS_USER__</string>
  <key>GroupName</key>
  <string>__RUN_AS_GROUP__</string>
  <key>ProgramArguments</key>
  <array>
    <string>__STADO_BIN__</string>
    <string>release</string>
    <string>agent</string>
    <string>--target</string>
    <string>__TARGET__</string>
    <string>--interval-seconds</string>
    <string>15</string>
  </array>
  <key>EnvironmentVariables</key>
  <dict>
    <key>HOME</key>
    <string>__HOME__</string>
    <key>STADO_CONFIG</key>
    <string>__STADO_CONFIG__</string>
    <key>PATH</key>
    <string>/opt/homebrew/bin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>ThrottleInterval</key>
  <integer>10</integer>
  <key>ProcessType</key>
  <string>Background</string>
  <key>SoftResourceLimits</key>
  <dict>
    <key>NumberOfFiles</key>
    <integer>65536</integer>
  </dict>
  <key>StandardOutPath</key>
  <string>__HOME__/.stado/logs/release-agent.out</string>
  <key>StandardErrorPath</key>
  <string>__HOME__/.stado/logs/release-agent.err</string>
</dict>
</plist>
